<% # provide(:title, "New Casing Call") %>
<% # render "shared/pagename" %>
<div class="card bg-dark text-white">
  <%= image_tag check_img(@castingcall.main_image), :class => "card-img ", :alt => "..." %>
  <div class="card-img-overlay bg-filter ">
    <div class="container">
      <div class="position-absolute fixed-bottom p-5">
        <h1 class="display-1"><%= @castingcall.title %></h1>
        <p class="lead"><%= @castingcall.description %></p>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid" style="background-image: url(<%= url_for(check_img(@castingcall.main_image)) %>); background-size: cover;">
  <div class="container">
    <div class="col-lg-10 col-md-10 col-sm-12">
      <h1 class="display-1 mt-5"><%= @castingcall.title %></h1>
      <p class="lead"><%= @castingcall.description %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <p class='small'> Posted by: <%= link_to @castingcall.user.name, @castingcall.user %>
      <p><a href="#" class="btn btn-success">Applie</a></p>
  </div>
</div>

