<% if user_signed_in? %>

  <ul class="nav navbar-nav navbar-right">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <%= image_tag(profile_img, :alt => "user", :size => "22", class: "user-menu-thumb") %>
        <%= current_user.email %>
      </a>
      <div class="dropdown-menu">
        <%= link_to "Profile", user_path(current_user), :class => "dropdown-item" %>
        <%= link_to "Edit Account", edit_user_registration_path, :class => "dropdown-item" %>
        <div class="dropdown-divider"></div>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => "dropdown-item" %>
      </div>
    </li>
  </ul>

<% else %>
  <ul class="nav navbar-nav">
    <li class='nav-item'><%= link_to "Sign up", new_user_registration_path, :class => "btn btn-outline-action" %></li>
    <li class='nav-item'><%= link_to "Log In", new_user_session_path, :class => "nav-link" %></li>
  </ul>
  
<% end %>